# ----------------------
# Flask
# ----------------------
flask
flask-cors
Flask-SocketIO
socketio


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn